    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-left">
                <a href="landingpage" class="navbar-logo">Events Galore</a>
            </div>
            <div class="navbar-right">
                <button (click)="userprofile()" class="navbar-link">User Profile</button>
            </div>
        </nav>
    </body>
    </html>

